/*初始化样式*/
body {
  background: #e2e2e2;
  margin: 0;
  padding: 0;
  font-family: "HanHei SC", "PingHei", "PingFang SC", "STHeitiSC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

textarea { line-height: 1.5em; }
img { border: none; }
p { line-height: 1.5em; }
a { text-decoration: none; }
/*a:hover { text-decoration: underline; }*/

/*header样式*/
.header { padding: 20px; background: #1d1612; }
.log { margin-top: 10px; }
.title { font-size: 36px; color: #fff; margin-left: 20px; }
.user_info { float: right; margin-top: 16px; }
.username { font-size: 16px; color: #fff; }
.header a { font-size: 16px; color: #fff; margin-left: 15px; }

/*index样式*/
.page {
  width: 1000px;
  margin: 20px auto;
  padding: 30px 40px 30px 0;
  background: #fff;
  border-radius: 5px;
}
.btn_create {
  margin-left: 40px;
  padding: 15px 25px;
  background-color: #9dd812;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}
.story_wrapper { width: 280px; height: 190px; margin: 40px 0 40px 40px; }
.pic_wrapper {
  width: 270;
  height: 180px;
  text-overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 0 8px #888;
}
.story_title { padding: 0 14px; }
.story_title h3 {
  overflow: hidden;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 12px 0 20px;
  font-size: 20px;
  color: #1d1612;
}
.story_info { padding: 0 14px; }
.timeinfo { font-size: 14px; color: #999; float: right; }
.operation { float: left }
.operation a { font-size: 14px; margin-left: 15px; color: #9dd812; }

/*登录注册样式*/
.box { margin: 50px auto; padding: 20px; width: 350px; background-color: #fff; border-radius: 5px; }
.box h2 { font-weight:400; color:#1d1612; font-size:24px; margin-left: 25px; }
.error {
  margin: 10px auto;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ff140f;
  width: 278px;
  font-size: 14px;
  color: #ff140f;
  text-align: center;
}
.account { margin: 0 auto; width: 300px; }
.account a { font-size: 14px; margin: 20px auto; color: }
.form_item { margin: 10px auto; }
.form_item input { width: 278px; font-size: 14px; padding: 9px; }
.form_item label { font-size: 14px; color: #666; }
.submit {
  margin: 10px auto;
  padding: 8px 25px;
  background: #9dd812;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
}

/*footer样式*/
.footer { padding-top: 10px; font-size: 12px; color: #999; text-align: center; }
/*.footer a { line-height: 16px; text-decoration: none; }*/
/*.footer img { vertical-align: middle; }*/
