body { background: #e2e2e2; }

textarea { line-height:1.5em; }
image { border:none; }
p { line-height:1.5em; }
a { color:#3366CC; text-decoration:underline; }
a:hover { color:#FF3300; }

.header { margin: 20px; border-bottom: 1px solid #ccc; background: #000; }
.header h1 {font-size: 44px; color: #fff; }

.notice { background-color: #d9edf7; padding: 15px; }
.error { background-color: #f2dede; padding: 15px; }
